.picture {
    position: absolute;
    width: 620px;
    height: 475px;
    left: -100px;
    top: 150px;
}

.picture svg {
    cursor: pointer;
}

.jail {
    position: absolute;
    top: 0;
    left: 133px;
}

.key {
    position: absolute;
    top: 55px;
    left: 200px;
}

.grid {
    position: absolute;
    top: 40px;
    left: 170px;
}