@font-face {
    font-family: 'Avenir Next Cyr Regular';
    src: url('./../../../Fonts/AvenirNextCyr-Regular.eot');
    src: url('./../../../Fonts/AvenirNextCyr-Regular.eot?#iefix') format('embedded-opentype'),
    url('./../../../Fonts/AvenirNextCyr-Regular.woff') format('woff'),
    url('./../../../Fonts/AvenirNextCyr-Regular.ttf') format('truetype');
    font-weight: 450;
    font-style: normal;
}

.game-section__picture-wrapper {
    position: relative;
    width: 620px;
    height: 475px;
    margin: 25px auto;
}

.game-section__picture-wrapper_jail {
    position: absolute;
    top: 0;
    left: 133px;
}

.game-section__picture-wrapper_key-in-jail {
    position: absolute;
    top: 45px;
    left: 200px;
    animation: do-levitation 1.2s alternate ease-in-out infinite
}

@keyframes do-levitation {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(0, 1em);
    }
}

.game-section__picture-wrapper_grid {
    position: absolute;
    top: 40px;
    left: 170px;
    cursor: pointer;
}

.game-section__picture-wrapper_description {
    position: absolute;
    bottom: 28px;
    left: 170px;
    cursor: pointer;
    font-family: 'Avenir Next Cyr Regular';
    font-style: normal;
    font-weight: 450;
    font-size: 32px;
    line-height: 43px;
    text-align: center;
    color: #E571F6;
}