@font-face {
    font-family: 'Avenir Next Cyr Demi';
    src: url('./../../../Fonts/AvenirNextCyr-Demi.eot');
    src: url('./../../../Fonts/AvenirNextCyr-Demi.eot?#iefix') format('embedded-opentype'),
    url('./../../../Fonts/AvenirNextCyr-Demi.woff') format('woff'),
    url('./../../../Fonts/AvenirNextCyr-Demi.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

.game-section__levels {
    font-family: 'Avenir Next Cyr Demi';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    color: #FFF;
    height: 116px;
    cursor: default;
}

.game-section__levels__active-level {
    position:relative;
    height: 59px;
    width: 417px;
    margin: 0 auto;
}

.game-section__levels__active-level_background {
    position:absolute;
    top: 0;
}

.game-section__levels__active-level_text {
    position:absolute;
    top: 15px;
    left: 170px;
}

.game-section__levels__not-active-levels-block {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    margin-top: 17px;
}