.game-section__levels__not-active-levels-block__wrapper {
    height: 40px;
    width: 131px;
    position: relative;
    margin: 0 23px;
}

.game-section__levels__not-active-levels-block__wrapper_background{
    position:absolute;
    top: 0;
    height: 40px;
}

.game-section__levels__not-active-levels-block__wrapper_description {
    position: absolute;
    top: 7px;
    left: 40px;

    font-size: 18px;
    line-height: 24px;
    width: 60px;
    height: 24px;
}