.UnachievedLevels {
    height: 40px;
    width: 131px;
    position: relative;
    margin: 0 23px;
}

.img{
    position:absolute;
    top: 0;
    height: 40px;
}

.UnachievedLevel_text {
    position: absolute;
    top: 7px;
    left: 40px;

    font-size: 18px;
    line-height: 24px;
    width: 60px;
    height: 24px;
}

.safe {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}