@font-face {
    font-family: 'Avenir Next Cyr Demi';
    src: url('./../../Fonts/AvenirNextCyr-Demi.eot');
    src: url('./../../Fonts/AvenirNextCyr-Demi.eot?#iefix') format('embedded-opentype'),
    url('./../../Fonts/AvenirNextCyr-Demi.woff') format('woff'),
    url('./../../Fonts/AvenirNextCyr-Demi.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

.pop-up {
    font-family: 'Avenir Next Cyr Demi';
    position: absolute;
    width: 324px;
    height: 208px;
    right: 10vw;
    top: 149px;
    font-weight: 600;
    background-color: #030A2E;
    border-radius: 15px;
    border-width: 1px;
    border-color: #E571F6;
    border-style: solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    z-index: 1;

}

.pop-up__stack-of-keys_image-of-key {
    margin: -24px;
    cursor: pointer;
}

.pop-up__remaining__description {
    text-align: center;
    margin: 24px 0;
    font-size: 1.5rem;
    line-height: 1.3rem;
    cursor: default;
    color: #FFF;
}

.pop-up__remaining__description_purple {
    color: #E571F6;
}

.pop-up__quantity {
    color: #E571F6;
    margin-bottom: 24px;
    font-size: 28px;
    line-height: 36px;
    cursor: default;
}

.pop-up__stack-of-keys {
    display: flex;
    flex-direction: row-reverse;
}

@media screen and (max-width: 1270px) {
    .pop-up {
        right: 5vw;
    }
}

@media screen and (max-width: 1130px) {
    .pop-up {
        right: 1vw;
    }
}

@media screen and (max-width: 1035px) {
    .pop-up {
        position: relative;
        margin-bottom: 15px;
    }

    .pop-up__stack-of-keys_image-of-key {
        margin: 5px -24px;
    }
}