.Keybar {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    margin-bottom: 1px;
}

.KeyInBar {
    margin: 0 -12px;
}

.KeyUnavailable {
    margin-right: -12px;
}