.game-section__key-bar {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    margin-bottom: 1px;
}

.game-section__key-bar_image-of-key {
    margin: 0 -12px;
}

.game-section__key-bar_image-of-unavailable-key {
    margin: 0 -12px;
}