@font-face {
    font-family: 'Avenir Next Cyr Regular';
    src: url('./../../Fonts/AvenirNextCyr-Regular.eot');
    src: url('./../../Fonts/AvenirNextCyr-Regular.eot?#iefix') format('embedded-opentype'),
    url('./../../Fonts/AvenirNextCyr-Regular.woff') format('woff'),
    url('./../../Fonts/AvenirNextCyr-Regular.ttf') format('truetype');
    font-weight: 450;
    font-style: normal;
}

.footer {
    height: 120px;
    width: 100%;
}

.footer__links {
    margin: 35px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: baseline;
}

.footer__links__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.footer__links__wrapper__link {
    width: 100%;
    height: 100%;
    display: inline;
    cursor: pointer;
    margin: 0 35px;
}

.footer__links__smart-contract {
    width: 200px;
    height: 28px;
    font-family: 'Avenir Next Cyr Regular';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    text-decoration-line: underline;
    cursor: pointer;
    color: #E571F6;
    position: absolute;
    right: 10vw;
}

@media screen and (max-width: 1030px) {
    .footer__links__smart-contract {
        position: relative;
        margin: 15px 0 auto 200px;
    }

    .footer__links {
        flex-direction: column;
    }
}

